<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:fragment="commoncdn" content="width=device-width, initial-scale=1">
    <!-- jquery 아직 대부분의 웹에서 사용되서 안쓸 수 없음 -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- 부가적인 테마 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
    <!-- 우리꺼 css -->
    <link th:href="@{/static/css/timecapsulue.css}" rel="stylesheet"/>
    <!-- axios -->
    <script th:src="@{https://unpkg.com/axios/dist/axios.min.js}"></script>
    <!-- vue js cdn 일단은 최신버전으로.. -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/vue/dist/vue.js}"></script>
    <!-- vue moment -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/vue-moment@4.0.0-0/vue-moment.min.js}">
    <!-- vue dragble -->
    <script th:src="@{//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js}"></script>
    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js}"></script>
</head>



