<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer" class="bg-light text-center text-lg-start navbar-fixed-bottom">
    <div class="container">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright: Team TimeCapsule
            <a class="text-dark" href="http://localhost:8080">Team TimeCapsule notion</a>
        </div>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>