.main-img {
    height: 465px;
    width: 983px;
    left: 3708px;
    top: 842px;
    border-radius: 0px;
    background: url(../images/time_capsule_main.png);
}
.main-page {
    position: relative;
    width: 375px;
    height: 812px;
    left: 28%;
    background: url(../images/main.png);
}