/*.main-img {
    height: 465px;
    width: 983px;
    left: 3708px;
    top: 842px;
    border-radius: 0px;
    background: url(../images/time_capsule_main.png);
}
.container {
    min-width: 1360px;
}*/

/*
@media all and (min-width:768px) and (max-width:1023px) {
    .test {
        margin-top: 9%;
        min-width: 100%;
        min-height: 191%;
        height: auto;
        width: auto;
        border-radius: 0px;
        background: url(../images/beach.png);
    }
}
*/

/*두번째방법 */
.container {
    width: 70%;
    height: 100%;
    overflow: hidden;
}
.container img {
    max-width: 100%;
    height: auto;
    display: block;
}
body {
     background-image: url(../images/beach.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }