<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="layout/configurations :: commoncdn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>우리들의 추억만들기 타임캡슐에 오신걸 환영합니다!</title>
</head>
<body>
<div id="viewPoint" class="container">
    <div class="main beach">
        <div class="title">
            <span @click="reloadPage"></span>
        </div>
        <div class="menu">
            <div class="holder">
                <button id="tutorial" class="tutorial" @click="movePage(false)"></button>
                <label for="tutorial"></label>
            </div>
            <div class="holder">
                <button id="my" class="my" @click="movePage(true)"></button>
                <label for="my"></label>
            </div>
            <div class="holder">
                <button id="send" class="send" @click="movePage(true)"></button>
                <label for="send"></label>
            </div>
            <div class="holder">
                <span>대충 이런느낌으로 글씨가 나올거에요!</span>
            </div>
            <div class="holder" style="margin-top: 105%">
                <img src="../static/images/copyright.png">
            </div>
        </div>
    </div>
    <div ref="popup" style="position:absolute; width: 300px; height: 180px; top: calc(50% - 70px); left: calc(50% - 150px); background: antiquewhite; display: none;">
        <span style="margin: auto;">이동준비중입니다.</span>
    </div>
</div>
</body>
</html>
<script>
    ((doc) => {
        var vueModel = new Vue({
            el: '#viewPoint',
            data : {
                isTutorialOver : false,
                isStartOver : false,
                filter : {},
            },
            methods : {
                movePage : function(targetPage) {
                    let url = '';
                    if (targetPage) {
                        url = '/api/timcapsule/start';
                    } else {
                        this.$refs.popup.style.display = 'flex';
                        let time = 3;
                        let t = setInterval(() => {
                           time--;
                           if (time === 0) {
                               clearInterval(t);
                               this.$refs.popup.style.display = 'none';
                           }
                        }, 1000);
                    }
                    axios.get(url).then((response) => {
                        console.log(response);
                    }).catch((error) => {
                        alert('오류가 발생했습니다.\n 잠시후 이용해주세요');
                    });
                },
                reloadPage : function() {
                    alert('홈으로 돌아가기 구현');
                }
            },
            mounted : function() {
                // this.$nextTick(() => {
                //     this.filteredSheets = this.originSheets;
                //     this.getReceipts();
                // });
            }
        });
    })(document);
</script>