<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/configurations :: commoncdn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>우리들의 추억만들기 타임캡슐에 오신걸 환영합니다!</title>
</head>
<body>
    <div class="container" style="">
        <div class="main beach">
            <div class="title">
<!--                <span class="capsule"></span>-->
                <span></span>
            </div>
            <div class="menu">
                <div class="holder">
                    <button id="tutorial" class="tutorial"></button>
                    <label for="tutorial"></label>
                </div>
                <div class="holder">
                    <button id="start" class="start"></button>
                    <label for="start"></label>
                </div>
            </div>
        </div>
    </div>
<!--    <div th:replace="layout/footer :: footer"></div>-->
</body>
</html>
<script>
    ((doc) => {
        var vueModel = new Vue({

        });
    })(document);
</script>